{% extends "base0.html" %}
{% load static %}

{% block content %}

    <!--====== Slider Part Start ======-->

    <section class="slider-area slider-active">
        <div class="single-slider">
            <div class="slider-image">
                <img src="{% static 'assets/images/slider-1.jpg' %}" alt="slider">
            </div>
            <div class="slider-content-wrapper">
                <div class="container-fluid custom-container">
                    <div class="slider-content">
                        <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save 10% off when you buy</h4>
                        <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>HP EliteBook  </span> 745 G3.</h1>
                        <p data-animation="fadeInRightBig" data-delay="0.5s" >HP EliteBook 745 G3 is a Windows 10 laptop with a 14.00-inch display that has a resolution of 1920x1080 pixels. It is powered by a APU Quad Core A12 processor and it comes with 8GB of RAM. The HP EliteBook 745 G3 packs 256GB of HDD storage.

                            Connectivity options include Wi-Fi 802.11 a/b/g/n/ac, Bluetooth, Ethernet and it comes with 2 USB ports (2 x USB 3.0), Multi Card Slot, Headphone and Mic Combo Jack, VGA Port ports.</p>
                        <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                    </div>
                </div> <!-- container -->
            </div>
        </div> <!-- single slider -->
        <div class="single-slider">
            <div class="slider-image">
                <img src="{% static 'assets/images/slider-2.jpg' %}" alt="slider">
            </div>
            <div class="slider-content-wrapper">
                <div class="container-fluid custom-container">
                    <div class="slider-content">
                        <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">Save 10% off when you buy</h4>
                        <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title "><span>hp prodesk 600 </span> G1 tower.</h1>
                        <p data-animation="fadeInRightBig" data-delay="0.5s">Intel Core i5 4570 3.20 GHz 8 GB DDR3 500 GB HD WIN 10</p>
                        <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                    </div>
                </div> <!-- container -->
            </div>
        </div> <!-- single slider -->
    </section>

    <!--====== Slider Part Ends ======-->

 
    <!--====== Category Part Start ======-->

    <section class="category-area category-bg pt-100 pb-100">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">All Categories</h2>
                    </div>
                </div>
            </div> <!-- row -->
            <div class="row category-active">
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-1.jpg' %}" alt="category">
                            <p>Laptop</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-2.jpg' %}" alt="category">
                            <p>Computer</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-3.jpg' %}" alt="category">
                            <p>Smartphone</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-4.jpg' %}" alt="category">
                            <p>Game Consoles</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-5.jpg' %}" alt="category">
                            <p>Mobile Accessories</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-6.jpg' %}" alt="category">
                            <p>TVs</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-7.jpg' %}" alt="category">
                            <p>Printers & Scanners</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-8.jpg' %}" alt="category">
                            <p>Watches & Jewllery</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-9.jpg' %}" alt="category">
                            <p>Home Accessories</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-10.jpg' %}" alt="category">
                            <p>Camera</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-11.jpg' %}" alt="category">
                            <p> Audio </p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="{% static 'assets/images/category-12.jpg' %}" alt="category">
                            <p>Receivers & Projectors</p>
                        </a>
                    </div> <!-- single category -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Category Part Ends ======-->

    <!--====== Product Part Start ======-->

    <section class="product-area pt-100 pb-100">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <div class="product-items">
                        <div class="row product-active">
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ first.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ first.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <p>{{ first.get_category_display }}</p>
                                        <h4 class="product-title"><a href="{{ first.slug }}">{{ first.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ first.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ second.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ second.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ second.get_absolute_url }}">{{ second.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ second.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ third.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ third.image.url }}" alt="product">
                                        </a>
                                        <!-- <span class="discount-product">-12%</span> -->
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ third.get_absolute_url }}">{{ third.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price ">{{ third.price }}</span>
                                            <!-- <span class="price-sale">€21.90</span> -->
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ forth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ forth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ forth.get_absolute_url }}">{{ forth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ forth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ fifth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ fifth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ fifth.get_absolute_url }}">{{ fifth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ fifth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ sixth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ sixth.image.url }}" alt="product">
                                        </a>
                                        <!-- <span class="discount-product">-12%</span> -->
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ sixth.get_absolute_url }}">{{ sixth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ sixth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ seventh.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ seventh.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ seventh.get_absolute_url }}">{{ seventh.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ seventh.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ eighth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ eighth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="product-title"><a href="{{ eighth.get_absolute_url }}">{{ eighth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ eighth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ ninth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ ninth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="product-title"><a href="{{ ninth.get_absolute_url }}">{{ ninth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ ninth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ tenth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ tenth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ tenth.get_absolute_url }}">{{ tenth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ tenth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ eleventh.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ eleventh.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ eleventh.get_absolute_url }}">{{ eleventh.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ eleventh.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ twelfth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ twelfth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ twelfth.get_absolute_url }}">{{ twelfth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ twelfth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ thirteenth.get_absolute_url }}">
                                            <img height="250" width="250" class="first-image" src="{{ thirteenth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ thirteenth.get_absolute_url }}">{{ thirteenth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ thirteenth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="{{ fourteenth.get_absolute_url }}">
                                            <img class="first-image" height="250" width="250" src="{{ fourteenth.image.url }}" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="{{ fourteenth.get_absolute_url }}">{{ fourteenth.title }}</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">{{ fourteenth.price }}</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
            </div> <!-- tab content -->
        </div> <!-- container -->
    </section>


    <!--====== Testimonial Part Start ======-->

    <section class="testimonial-area bg_cover pt-100 pb-100" style="background-image: url({% static 'assets/images/bg_testimonial.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="testimonial-active">
                        <div class="single-testimonial d-sm-flex">
                            <div class="testimonial-author">
                                <img src="{% static 'assets/images/Esam.jpg' %}" alt="author" width="150">
                            </div>
                            <div class="testimonial-content media-body">
                                <p> The idea of SEE TECH is that we provide excellent service during the sale of our products, which is to clarify the appropriate capabilities for your type of business, with the aim that you invest your money in a correct way.</p>
                                <h4 class="author-name">Esam Samy</h4>
                            </div>
                        </div> <!-- single testimonial -->
                    </div> <!-- testimonial Active -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Testimonial Part Ends ======-->


{% endblock content %}