{% extends "base0.html" %}
{% load static %}

{% block content %}
    <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'core:shop' %}">All Items</a></li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->



    <!--====== Shop Left sidebar Part Start ======-->

    {% for item in object_list %}
        <div class="shadow p-3 mb-5 bg-white rounded">
            <figure class="figure">
                <div class="single-product-list mt-30 p-20">
                    <div class="row">
                        <div class="col-sm-5 col-xl-3">
                            <div class="product-image">
                                <a href="{{ item.get_absolute_url }}">
                                    <img class="first-image" src="{{ item.image.url }}"  width="320" height="320"  alt="product" >
                                </a>
                                {% if item.discount_price %}
                                    <span class="discount-product">-{{ item.get_discount_percentage }}%</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-7 col-xl-9">
                            <div class="product-content">
                                <h1 class="product-title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h1>
                                <p>{{ item.get_category_display }}</p>
                                <div class="product-price">
                                    {% if item.discount_price %}
                                        <span class="regular-price">{{ item.price }} L.E.</span>
                                        <span class="price-sale">{{ item.discount_price }} L.E.</span>
                                    {% else %}
                                        <span class="price-sale">{{ item.price }} L.E.</span>
                                    {% endif %}
                                </div>
                                <p> {{ item.description }} </p>
                            </div>
                            <br>                                                       
                        </div>
                    </div>
                </div> <!-- single product List -->
            </figure> 
        </div> <!-- single product List -->
    {% endfor %}

                    {% if is_paginated %}
                    <ul class="pagination justify-content-center mt-30">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fal fa-chevron-left"></i></a></li>
                        {% endif %}
                        <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fal fa-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                    {% endif %}

    <!--====== Shop Left sidebar Part Ends ======-->


{% include "features.html" %}



{% endblock content %}